@CHARSET "UTF-8";

@media screen and ( max-width: 360px ) {
	.carousel-inner p {
		font-size: 2em;
	}
	.talkbox {
		height: 100px;
	}
	.talkbox:before {
		left: 140px;
	}
	.talkbox:after {
		left: 140px;
	}
	.talkbox p {
		font-size: 1.2em;
	}
	#carousel {
		height: 350px;
	}
	.carousel-inner {
		height: 320px;
	}
	.carousel-caption {
		color: white;
		margin-bottom: 200px;
		text-align: right;
	}
}

@media screen and ( min-width: 600px ) {
	.carousel-inner p {
		font-size: 3em;
	}
	.talkbox {
		height: 120px;
	}
	.talkbox:before {
		left: 500px;
	}
	.talkbox:after {
		left: 500px;
	}
	.talkbox p {
		font-size: 2em;
	}
	#carousel {
		height: 550px;
	}
	.carousel-inner {
		height: 550px;
	}
	.carousel-caption {
		color: white;
		margin-bottom: 400px;
		text-align: right;
	}
}

#loginSection {
	max-width: 100%;
	min-width: 300px;
	height: 80px;
	display: block;
	text-align: center;
}

#loginArticle {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-left: auto;
}

#loginForm {
	border-radius: 25px;
}

#afterLogin {
	margin-top: 30px;
	text-align: left;
}

.carouselImg {
	width: 100%;
	transition: all 1s;
	max-width: 100%;
	min-width: 300px;
	text-align: center;
	opacity: 0.8;
}

#facebookBtn {
	width: 250px;
	height: 50px;
	background-color: #3b5998;
	text-align: center;
	border: none;
}

#facebookBtn img {
	background-color: white;
	height: 40px;
	border-radius: 30px;
}

#carousel {
	max-width: 100%;
	display: block;
}

#carousel img {
	width: 100%;
}

.carousel-caption {
	width: 100%;
	text-align: left;
}

.carousel .carousel-control {
	visibility: hidden;
}

.carousel:hover .carousel-control {
	visibility: visible;
}

#welcomeUser p {
	max-width: 100%;
	text-align: left;
	white-space: nowrap;
	-webkit-animation: rightThenLeft 4s linear;
}

#loginArticle {
	width: 80%;
}

#loginArticle li {
	width: 30%;
	display: inline-block;
	list-style-type: none;
}

#carousel {
	width: 100%;
}

.carousel-inner {
	width: 100%;
}

.talkbox {
	position: relative;
	display: block;
	width: 100%;
	padding: 0px;
	background: #FFFFFF;
	-webkit-border-radius: 13px;
	-moz-border-radius: 13px;
	border-radius: 13px;
	border: #000000 solid 2px;
}

.talkbox:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 20px 8px 0;
	border-color: #FFFFFF transparent;
	display: block;
	width: 0;
	z-index: 1;
	bottom: -10px;
}

.talkbox:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 21px 9px 0;
	border-color: #000000 transparent;
	display: block;
	width: 0;
	z-index: 0;
	bottom: -15px;
}

.talkbox p {
	color: black;
}

.talkbox b {
	color: #3b5998;
}