@CHARSET "UTF-8";

@media screen and ( min-width: 360px ) {
	.carousel-inner p {
		font-size: 2em;
	}
	#welcomeUser p {
		font-size: 2em;
	}
	#carousel {
		height: 300px;
	}
	.carousel-inner {
		height: 300px;
	}
	
	
}

@media screen and ( min-width: 600px ) {
	.carousel-inner p {
		font-size: 5em;
	}
	#welcomeUser p {
		font-size: 2.5em;
	}
	#carousel {
		height: 500px;
	}
	.carousel-inner {
		height: 500px;
	}
	.carousel-caption {
		text-align:left;
		margin-bottom: 400px;
	}
}

#loginSection {
	max-width: 100%;
	min-width: 300px;
	height: 80px;
	display: block;
	text-align: center;
}

#loginArticle {
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-left: auto;
}

#loginForm {
	border-radius: 25px;
}

#afterLogin {
	margin-top: 30px;
	text-align: left;
}

.carouselImg {
	width: 100%;
	transition: all 1s;
	max-width: 100%;
	min-width: 300px;
	opacity: 0.7;
	text-align: center;
}

#facebookBtn {
	background-image: url('../img/main/facebook.png');
	background-size: 100% 100%;
	width: 150px;
	height: 100px;
	border-radius: 32px;
	background-color: white;
	text-align: center;
	display: none;
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

#facebookBtn:hover {
	width: 130px;
	height: 90px;
	-webkit-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.75);
	box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.75);
	background-color: #3b5998;
}

#carousel {
	max-width: 100%;
	display: block;
}

#carousel img {
	width: 100%;
}

.carousel-caption {
	display:fixed;
	width:100%;
	text-align:left;
}

.carousel .carousel-control {
	visibility: hidden;
}

.carousel:hover .carousel-control {
	visibility: visible;
}

#welcomeUser p {
	max-width: 100%;
	text-align: left;
	white-space: nowrap;
	-webkit-animation: rightThenLeft 4s linear;
}

#userImg {
	width: 50px;
	border-radius: 30px;
}

#loginArticle {
	width: 70%;
}

#loginArticle li {
	width: 30%;
	display: inline-block;
	list-style-type: none;
}

#carousel {
	max-width: 100%;
}