@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
	blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn,
	em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var,
	b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
	details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
	output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
}

body {
	width: 100%;
	font-family: "Nanum Gothic",'Helvetica Neue', Helvetica, Arial, sans-serif,;
	font-size: 62.5%;
	line-height: 1;
}

br {
	display: block;
	line-height: 1.6em;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
	menu, nav, section {
	display: block;
}

ol, ul {
	list-style: none;
}

input, textarea {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	outline: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

strong, b {
	font-weight: bold;
}

em, i {
	font-style: italic;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	border: 0;
	max-width: 100%;
}

/** page structure **/
#content {
	max-width: 100%;
}

header {
	display: block;
	width: 100%;
	height: 60px;
	background: #3b5998;
	padding: 15px 10px;
	margin-bottom: 3px;
}

#navbar {
	max-width: 100%;
	margin: 0 auto;
}

.menubtn {
	position: relative;
	z-index: 101;
	text-decoration: none;
	font-size: 0em;
	line-height: 0em;
	top: 2px;
	padding: 15px;
	background-image: url('../img/menu/beforeMenu.png');
	background-position: 50% 50%;
	background-size: 40px 40px;
	background-repeat: no-repeat;
}

.menubtn:hover, .openmenu .menubtn {
	color: white;
	-webkit-filter: invert(100%);
	filter: invert(100%);
	background-image: url('../img/menu/afterMenu.png');
}

/** toggle menu **/
body.openmenu {
	position: fixed;
	overflow: hidden;
}

#pgcontainer {
	padding: 0 0;
	margin: 0;
}

.overlay {
	position: fixed;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.5);
	bottom: 0;
	right: 0;
	left: 0;
}

.openmenu .overlay {
	top: 0;
}

#hamburgermenu {
	height: 100%;
	width: 0;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 101;
	overflow: hidden;
	-webkit-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.55);
	-moz-box-shadow: 3px 0 7px rgba(0, 0, 0, 0.55);
	box-shadow: 3px 0 7px rgba(0, 0, 0, 0.55);
}

#hamburgermenu ul {
	z-index: 101;
	overflow-y: auto;
	overflow-x: hidden;
}

#hamburgermenu ul li {
	display: block;
	border-bottom: 1px solid #3b5998;
	margin-top: 2px;
}

#hamburgermenu ul li a {
	display: block;
	min-width: 200px;
	padding: 18px 8px;
	font-size: 1.45em;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

#hamburgermenu li p {
	font-size: 1.5em;
	text-align: right;
}

#hamburgermenu li p:hover {
	color:#3b5998;
	text-shadow:1px 1px 1px ;
}

#hamburgermenu li button {
	border: none;
	width: 100%;
	height: 60px;
	background-position: left 5px;
	background-size: 20% 55%;
	background-repeat : no-repeat;
	background-color:white;
}

#hamburgermenu li button:hover {
	
}


#homeBtn {
	background: url('../img/menu/beforeHome.png') ;
}

#homeBtn : hover {
	background: url('../img/menu/afterHome.png');
}

#recommendBtn {
	background-image: url('../img/menu/beforeRecommend.png');
}

#recommendBtn:hover {
	background-image: url('../img/menu/afterRecommend.png');
}

#mypageBtn {
	background-image: url('../img/menu/beforeMypage.png');
}

#mypageBtn:hover {
	background-image: url('../img/menu/afterMypage.png');
}

#genreBtn {
	background-image: url('../img/menu/beforeExplorer.png');
}

#genreBtn:hover {
	background-image: url('../img/menu/afterExplorer.png');
}

#managerBtn {
	background-image: url('../img/menu/beforeManager.png');
}

#managerBtn:hover {
	background-image: url('../img/menu/afterManager.png');
}

#logoutBtn {
	background-image: url('../img/menu/beforeLogout.png');
}

#logoutBtn:hover {
	background-image: url('../img/menu/afterLogout.png');
}

#DNABtn {
	background-image: url('../img/menu/beforeDNA.png');
}

#DNABtn:hover {
	background-image: url('../img/menu/afterDNA.png');
}


#goGenreModal{
	display:none;
	position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
  	color:black;
    /* needed styles for the overlay */
    z-index: 100; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}
#goGenreModal button{
	width:100px;
	height:60px;
	margin-top:40px;
	text-align:left;
	border: none;
	height: 60px;
	background-position: left 5px;
	background-size: 100% 70%;
	background-repeat : no-repeat;
	background-color:white;
	background-image: url('../img/menu/beforeExplorer.png');
	box-shadow:2px 2px 2px black;
	border-radius:25px;
}
#goGenreModal button:hover {
	background-image: url('../img/menu/afterExplorer.png');
}

#wait{
	position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    line-height: 200px;
    height: 200px;
    margin-left: -150px;
    margin-top: -100px;
    text-align: center;
    /* needed styles for the overlay */
    z-index: 100; /* keep on top of other elements on the page */
    outline: 9999px solid rgba(0,0,0,0.5);
}
