@CHARSET "UTF-8";
meter {
	-webkit-appearance: meter;
	box-sizing: border-box;
	display: inline-block;
	height: 1.5em;
	width: 15em;
	vertical-align: -0.2em;
	
	
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

h2, div {
	font-size: 18px;
	text-align: center;
}


table.state {
	margin : auto;
}

td#state_image {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 13%;
	padding-right: 13%;
}

td#state_gauge {
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 13%;
	padding-right: 13%;
}

a#title_link {
	/* width: 12em; */
	border: 0px solid #000000;
	word-break: break-all;
	padding-top: 17px;
	padding-bottom: 18px;
	color: #79b3d4;
	font-size: 14px;
	font-weight: normal;
	background-color: #fff;
	cursor: pointer;
	display: block;
}

section.contains {
	background-color: #e5e5e5;
}

@media all and (min-width: 768px) and (max-width: 1023px){
	td#state_image {
	padding: 5%;
	
}

td#state_gauge {
	padding : 5%;
	
}

}

@media all and (min-width: 600px) and (max-width: 767px){
	td#state_image, td#state_gauge {
	float: left;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 28%;
	padding-right: 28%;
	}
	
}


@media all and (min-width: 527px) and (max-width: 599px){
	td#state_image, td#state_gauge {
	float: left;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 28%;
	padding-right: 28%;
	}
}
	
@media all and (min-width:300px) and (max-width: 526px){
	td#state_image, td#state_gauge {
	float: left;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 28%;
	padding-right: 28%;
	}
}