@CHARSET "UTF-8";
.show-levelup {
	display: none;
 	border-radius: 55px;
 	position: fixed;
 	z-index: 667;
 	background: #3366ff;
  	top: 150px;
  	width: 300px;
	height: 100px;
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
}

.levelup {
margin: 10px;
padding: 0px;
border: 1px;
font-size: 100%;
font: inherit;
vertical-align: baseline; 
} 

.levelup:after {
content: '';
position: absolute;
border-style: solid;
border-width: 20px 8px 0;
border-color: #3366ff transparent;
display: block;
width: 0;
z-index: 1;
bottom: -20px;
left: 113px;
}

.levelup:before {
content: '';
position: absolute;
border-style: solid;
border-width: 21px 9px 0;
border-color: #000000 transparent;
display: block;
width: 0;
z-index: 0;
bottom: -23px;
left: 113px;
}

input.close {
float: initial;
font-size: 21px;
font-weight: bold;
line-height: 1;
color: #000;
text-shadow: 0 1px 0 #fff;
opacity: 1.0;
}

/* .levelup {
  background-color: #dbd9d9;
  display: none;
  position: fixed;
  top: 50%;
  left: 51em;
  width: 100px;
  height: auto;
  margin-left: -200px;
  margin-top: -150px;
  padding: 50px;
  border-radius: 5px;
  z-index: 10;
}  */

/* 프로그레스 바  */
#progress{
width: 275px;
height: 275px;
margin: 20px auto;
  font: 14px/24px Lato, Helvetica, Helvetica Neue, Arial;
	line-height: 1.4;
}

.progress-bar{
	display: inline-block;
	width: 275px;
	height: 275px;
	padding: 0;
	float: none;
	font-size: 15px;
	color: rgb(0, 171, 252);
	text-align: center;
	background-color: #FFFFFF;
	box-shadow: none;
	transition: none;
}

.progress-bar .progress-active{
	position: relative;
	top: -279px;
}

.progress-bar p{
	position: relative;
	margin: 0;
	padding: 0;
	width: 275px;
	top: -460px;
	font-size: 54px;
	font-weight: 900;
	text-align: center;
}

#progressControllerContainer{
  position: absolute;
  bottom: 0px;
  padding: 10px 80px;
}

meter {
	-webkit-appearance: meter;
	box-sizing: border-box;
	display: inline-block;
	height: 1.5em;
	width: 15em;
	vertical-align: -0.2em;
}

body {
	font-size: 12px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

h2, div {
	font-size: 18px;
	text-align: center;
	font-family: "Nanum Gothic";
}


div.state {
	margin: 20px 10px;
}

p#grade {
	line-height: 1.8;
}

b#level {
	font-size: 76px;
}

form#myForm {
	margin: 10px;
}

div#state_image {
	width: 510px;
	display: -webkit-inline-box;
}

div#state_gauge{
	width: 370px;
	vertical-align: -webkit-baseline-middle; ;
}


b#level, strong#readWebtoonCount {
	color: crimson;
}

a#title_link {
	/* width: 12em; */
	border: 0px solid #000000;
	word-break: break-all;
	color: #79b3d4;
	font-size: 14px;
	font-weight: normal;
	background-color: #fff;
	cursor: pointer;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
}

section.contains {
	background-color: #f7f7f7;
	min-width: 320px;
}


/* 화면 크기별 크기 맞추기  */
@media all and (min-width: 1800px) {
	div#gauge_meter {
		display: none;
	}
}

@media all and (min-width: 1200px) and (max-width: 1799px) {
	div#gauge_meter {
		display: none;
	}
}

@media all and (min-width: 1024px) and (max-width: 1199px){
	div#gauge_meter {
		display: none;
	}
}

@media all and (min-width: 768px) and (max-width: 1023px){
	div#gauge_meter {
		display: none;
	}
}

@media all and (min-width: 600px) and (max-width: 767px){
	div#gauge_meter {
		display: none;
	}
	
	.progress-bar p {
		top: -424px;
	}
	
	canvas#inactiveProgress, canvas#activeProgress {
		width: 250px;
		height: 250px;
	}
	
	.progress-bar .progress-active {
		top: -255px;
	}
}


@media all and (min-width: 527px) and (max-width: 599px){
	div#gauge_meter {
		display: none;
	}
	
	.progress-bar p {
		top: -424px;
	}
	
	canvas#inactiveProgress, canvas#activeProgress {
		width: 250px;
		height: 250px;
	}
	
	.progress-bar .progress-active {
		top: -255px;
	}
}
	
@media all and (min-width: 518px) and (max-width: 526px){
	div#progress {
		display: none;
	}
	
	div#state_image {
		width: 100%;
		display: block;
	}
	
	div#state_gauge {
		width: 100%;
		display: block;
	}
}

@media all and (min-width: 302px) and (max-width: 517px) {
	div#progress {
		display: none;
	}
	
	div#state_image {
		width: 100%;
		height: 100%;
		display: block;
	}
	
	div#state_gauge {
		width: 100%;
		display: block;
	}
	
	a#title_link {
		padding-top: 26px;
		font-size: 14px;
	}
}

/* width: 476px 이하 타이틀, 별점 크기 맞추기  */
@media all and (min-width: 396px)and (max-width: 476px) {
	form#myForm {
		margin: 5px;
	}
}

@media all and (min-width: 302px)and (max-width: 396px) {
	a#title_link {
		font-size: 11px;
	}
	
	form#myForm {
		margin: 0px;
	}
}

/* width: 476px 이하 별점 중간 맞추기  */
@media all and (min-width: 435px) and (max-width: 476px){
	form#myForm {
	padding-top: 7px;
	}
}

@media all and (min-width: 343px) and (max-width: 395px){
	form#myForm {
	padding-top: 8px;
	}
}

@media all and (max-width: 342px){
	form#myForm {
	padding-top: 5px;
	}
}