@media screen and (max-width:401px) {
	#webtoons {
		width : 70%;
		margin-left : 7%;
	}
	
	#common_webtoon_info {
		width : 81%;
		margin-left : 10%;
	}
	
	#other_webtoon_info {
		width : 100%;
		/* margin-left : 5%; */
	}
}

@media screen and (min-width:402px) and (max-width:990px) {
	#webtoons {
		width : 55%;
		margin-left : 22.5%;
	}
	
	#common_webtoon_info {
		width : 55%;
		margin-left : 23%;
	}
	
	#other_webtoon_info {
		width : 70%;
		margin-left : 15%;
	}
}

@media screen and (min-width:991px) {
	#webtoons {
		width : 35%;
		margin-left : 32.5%;
	}
	
	#common_webtoon_info {
		width : 35%;
		margin-left : 32.5%;
	}
	
	#other_webtoon_info {
		width : 60%;
		margin-left : 20%;
	}
}

td, .top-header, .sec-header, 
#header, #footer {
	text-align : center;
}

#webtoon_details {
	font-size : 7px;
}

.top-header h1 span {
	display : block;
	font-size : 70%;
	margin-top : 10px;
}

#option, #option_table, #webtoon_image {
	width : 100%;
}

#webtoon_image {
	/* width : 400px; */
	height : 100%;
}

.label {
	position : absolute;
	width : 25%;
}

.end_label, .new_label {
	float:left;
}


.author_label {
	display: inline-block;
	float : right;
	width : 50%;
}

.webtoon_main_image {
 	opacity : 0.6;
	background-color : black;
	z-index : 5000
}

.main_image { 
   position : relative; 
   width : 100%; /* for IE 6 */
   height : 400px;
}

h2 { 
   position : absolute; 
   top : 300px; 
   left : 0; 
   width : 100%;
}

h2 span {
	color : white; 
	font : bold 22px/45px Helvetica, Sans-Serif; 
	letter-spacing : -1px;  
	background : #3b5998;
	padding : 10px; 
}

.end_label, .new_label {
	position : absolute;
	top : 0; 
	left : 0; 
}

.author_label {
	position : absolute;
	top : 0; 
	/* left : 100px; */
	text-overflow : ellipsis;
	overflow : visible;
	clear : both;
}

.author_label span {
	color : white; 
	font : bold 15px/20px Helvetica, Sans-Serif; 
	letter-spacing : -1px;  
	background : #3b5998;
	padding : 1px;
	float : right; 
}