
@charset "UTF-8";

#toonLabel {
	background-color: rgba(57,179,117,0.8);
	width: 100%;
	height: 100px;
	-webkit-box-shadow: 1px 1px 1px lightgrey;
	box-shadow: 1px 1px 1px lightgrey;
}

body section #add p {
	text-align: center;
	color: white;
}

body section #add p span {
	font-size: 1.5em;
	font-weight: bold;
}
body section #add #comments {
	width: 125px;
	position: absolute;
	top: 100px;
	text-align: center;
	color: black;
}

#comments {
	text-align: center;
}

body section #add #comment:after {
	content: 'Add Comment';
	display: inline-block;
	margin-top: 9px;
}

body section #add #comment:hover {
	opacity: .8;
}

body section #comments section img {
	width: 75px;
	height: 75px;
	/* 	float: left;
	 */
}

body section #comments section article {
	/* 별들어가는 위치의 부분 */
	display: inline-block;
}

#layout {
	width: 90%;
	height: 100%;
	margin-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.webtoonTalbe {

}
/*==============================================
Progress Steps
================================================ */
section {
  width: 30rem;
  margin: auto;
  padding-bottom: 10rem;
}
ol.ui {
    list-style: none outside none;
    z-index: 9999;
    position: fixed;
}
ol.ui li {
  float: left;
  margin-right: 1rem;
  position: relative;
  text-align: center;
  width: 104px;
  left: 26em;
  left: 30em;
top: -3em;
}
ol.ui li > span {
  color: #fff;
  display: block;
  margin-bottom: 0.5rem;
  width: 100px;
}
ol.ui span:nth-of-type(2) {
  background: rgba(0, 0, 0, 0.4);
  border: 0.2rem solid transparent;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  width: 3rem;
  height: 3rem;
  display: inline-block;
  line-height: 1.7;
  transition: all 1.2s ease-in-out;
}
ol.ui span:nth-of-type(2):before {
  background: rgba(0, 0, 0, 0.4);
  bottom: 1.9rem;
  content: "";
  height: 0.5rem;
  left: -2.65rem;
  position: absolute;
  transition: all 1.2s ease-in-out;
  width: 0rem;
}
ol.ui span:nth-of-type(2):after {
  background: rgba(0, 0, 0, 0.4);
  bottom: 1.9rem;
  content: "";
  height: 0.5rem;
  left: 5rem;
  position: absolute;
  transition: all 1.2s ease-in-out;
  width: 4rem;
}
ol.ui li:first-of-type span:nth-of-type(2):before,
ol.ui li:last-of-type span:nth-of-type(2):after {
  display: none;
}
ol.ui .active span:nth-of-type(2) {
  border: 0.2rem solid white;
  transition: all 1s ease-in-out;
  transition-delay: 0.8s;
}
ol.ui .active span:nth-of-type(2):before {
  background: white;
  transition: all 1.2s ease-in-out;
  width: 4.35rem;
}
ol.ui p {
  color: #fff;
  left: 50%;
  margin-left: -1rem;
  margin-top: 4.5rem;
  cursor: pointer;
  position: absolute;
}
/*더평가하기틀   */


/*팝업 스타일 */
.container {
	width: 500px;
	margin: 50px auto
}

.open-modal {
	/* #3b5998 */
	background-color: white;
	border-bottom: 1px solid #fcfcfc;
	-webkit-box-shadow: 1px 1px 1px 1px lightgrey;
	border: none;
	/* 	border-radius: 20px;
	 */
	font: inherit;
	font-size: 25px;
	color: #CC3333;
	outline: none;
	bottom: 0;
	padding: 30px 50px;
	width: 100%;
	position: fixed;
	z-index: 10;
	border: 2px solid #CC3333;
}

.open-modal:hover {
	background-color: #CC3333;
	color: white;
}

.choose-modal {
	background-color: #dbd9d9;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	height: auto;
	margin-left: -300px;
	margin-top: -150px;
	padding: 50px;
	border-radius: 5px;
	z-index: 32;
	box-shadow: 0 0 0 99999px rgba(0, 0, 0, 0.7);
}

.close-modal {
	color: #000;
	text-decoration: none;
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

.big {
	width: 100%;
	top: 69px;
	position: fixed;
	background-color: #e9eaed;
	z-index: 30;
}

.meterContainer {/*meter자체틀   */
	width: 100%;
	top: 89px;
	position: fixed;
}

.meterBackground {/*meter의 체워지지 않은 부분   */
	background-color: #f5f5dc;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 20px;
}

.meterBar {/*meter의 체워지는  부분   */
	background-color: #ea5c50;
	/* 	border-radius: 32px;
	 */
	display: block;
	height: 100%;
	width: 75%;
	position: relative;
}

meter {
	display: none;
}

.progressValue {/*meter의 카운트 숫자   */
	background-color: #38b3b1;
	border-radius: 2px;
	color: #fff;
	font-family: 'Montsserat', sans-serif;
	font-size: 29px;
	height: 30px;
	right: -1px;
	line-height: 36px;
	position: absolute;
	text-align: center;
	top: 27px;
	width: 80px;
	z-index: 9999;
}

.progressValue:before {
	/* meter의 카운트 숫자틀의 밑모먕 (마름모) */
	background-color: #38b3b1;
	border-radius: 1px;
	content: "";
	height: 8px;
	left: 15px;
	position: absolute;
	transform: rotate(45deg);
	top: -4px;
	width: 10px;
	z-index: 9990;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////  */

/*별점 css*/
.product-review-stars label {
	text-shadow: 0px 0px 3px yellow;
	/*별점 주변 색설정 */
}

/*end decoration*/
.visuallyhidden, .visuallyhiddenHeart {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.product-review-stars {
	unicode-bidi: bidi-override;
	direction: rtl;
	width: 100%;
}
/*밑은 별의 모양 */
.product-review-stars label {
	font-family: "icomoon";
	font-size: 2.3em;
	position: relative;
	cursor: pointer;
	color: grey;
	/* #DFE3E4 */
}

.product-review-stars input:checked ~
label:before {
	opacity: 1;
}

.product-review-stars:hover input ~
label:before {
	opacity: 0;
}

.product-review-stars input+ label:before {
	content: "\2605";
	position: absolute;
	right: 0;
	opacity: 0;
	transition: opacity .3s ease-in-out, color .3s ease-in-out;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden; /* Chrome and Safari */
	-moz-backface-visibility: hidden; /* Firefox */
	-ms-backface-visibility: hidden; /* Internet Explorer */
}

.product-review-stars input+label:hover:before,.product-review-stars input+label:hover
~
label:before {
	opacity: 1;
}

.product-review-stars input+label:nth-of-type(1):after,.product-review-stars input+label:nth-of-type(1):before,.product-review-stars input+label:nth-of-type(1):hover:before,.product-review-stars input+label:nth-of-type(1):hover
~ label:before,.product-review-stars input:nth-of-type(1):checked ~
label:before {
	font-size: 1.2em;
	text-shadow: 2px 0px 16px yellow;
	color: yellow;
}

.product-review-stars input+label:nth-of-type(2):after,.product-review-stars input+label:nth-of-type(2):before,.product-review-stars input+label:nth-of-type(2):hover:before,.product-review-stars input+label:nth-of-type(2):hover
~ label:before,.product-review-stars input:nth-of-type(2):checked ~
label:before {
	color: yellow;
}

.product-review-stars input+label:nth-of-type(3):after,.product-review-stars input+label:nth-of-type(3):before,.product-review-stars input+label:nth-of-type(3):hover:before,.product-review-stars input+label:nth-of-type(3):hover
~ label:before,.product-review-stars input:nth-of-type(3):checked ~
label:before {
	color: yellow;
}

.product-review-stars input+label:nth-of-type(4):after,.product-review-stars input+label:nth-of-type(4):before,.product-review-stars input+label:nth-of-type(4):hover:before,.product-review-stars input+label:nth-of-type(4):hover
~ label:before,.product-review-stars input:nth-of-type(4):checked ~
label:before {
	color: yellow;
}

.product-review-stars input+label:nth-of-type(5):after,.product-review-stars input+label:nth-of-type(5):before,.product-review-stars label:nth-of-type(5):hover:before,.product-review-stars input:nth-of-type(5):checked
~
label:before {
	color: #f1c40f;
}

.product-review-stars label:nth-of-type(5):hover:before {
	color: #d35400 !important;
}

/*플립 효과 */
@media all and (min-width: 320px) and (max-width: 360px) {

	.flip-container {
		width: 100%;
	}
}

.poster {
	width: 100%;
}

.flip-container {
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-o-perspective: 1000;
	perspective: 1000;
	float: left;
	width: 23%;
	margin-top: 100px;
	margin-left:1%;
	margin-right:1%;
	height: 300px;
}

.flip-container:active .flipper, .flip-container.active .flipper {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
	-o-transition: 0.6s;
	-o-transform-style: preserve-3d;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
	position: relative;
}

.front {
	z-index: 2;
	width: 100%;
	height: 100%;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.front .name {
	display: inline-block;
	position: relative;
	-webkit-box-shadow: 1px 1px 1px 1px lightgrey;
	box-shadow: 1px 1px 1px 1px lightgrey;
}

.back h4 {
	position: relative;
	bottom: 200px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
	line-height: 2em;
}
