@CHARSET "UTF-8";
	
	
td {
	width: :100%;
	font-size: 1.5em;
	border-left: 1px dotted #3b5998;
	border-top: #3b5998;
	text-align:center;
}

th {
	text-align:center;
	background-color: #3b5998;
	color: white;
	font-size: 2.5em;
	border-left: 1px dotted #3b5998;
}

th:hover {
	color: black;
	background-color:white;
}
th:focus{
	background-color: yellow;
}

#keywords{
	height:500px;
	
}

input{
	display:inline-block;
}